[DEFAULT]
ConnectionType=initiator
ReconnectInterval=20
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
LogoutTimeout=5
ResetOnLogon=Y
HeartBtInt=20
EncryptMethod=0
#UseDataDictionary=Y
#DataDictionary=./spec/fix/FIXT11.xml
#DataDictionary=./spec/fix/FIX50SP2.xml
#TransportDataDictionary=./spec/fix/FIX50SP2.xml
TransportDataDictionary=./spec/fix/FIXT11.xml
#AppDataDictionary=./spec/fix/FIXT11.xml
AppDataDictionary=./spec/fix/FIX50SP2.xml
ResetOnDisconnect=Y

TargetCompID=TITANOTC
SenderCompID=T0200
SenderSubID=AL.VCC
Username=al.vcc
Password=APIpw#123

[SESSION]
BeginString=FIXT.1.1
DefaultApplVerID=FIX.5.0SP2

SocketConnectHost=fix.titanotc.sgx.com
SocketConnectPort=9443

SSLEnable=Y
# It is recommended to install the certificate and refer to it by name instead of using filename + password
SSLProtocols=None
SSLCertificate=./config/themeintl.pfx
# For production refer to certificate by name instead: SSLCertificate=CN=QuickFixn-TestClient
SSLServerName=fix.titanotc.sgx.com
SSLValidateCertificates=Y

